<template>
    <div class="vitals-wrapper">
        <div :id="`chartContainer-${index}`" style="height: 150px; width: 100%; margin-top: 10px;"></div>
    </div>
</template>

<script src="./LineChart.js"></script>

<style scoped>
    @import './LineChart.css';
</style>
