/* eslint-disable */
.tabs .tab a{
    color:#000 !important;
} /*Black color to the text*/

.tabs .tab a:hover {
    background-color: #eee !important;
    color: #000 !important;
} /*Text color on hover*/

.tabs .tab a.active {
    background-color: #e3f2fd !important;
    color: #2196f3 !important;
} /*Background and text color when a tab is active*/

.tabs .indicator {
    background-color: #2196f3 !important;
} /*Color of underline*/