<template>
    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li :class="'tab col s4' + (path === '/' ? ' active' : '')">
                    <router-link to="/">
                        Select
                    </router-link>
                </li>

                <li :class="'tab col s4' + (path === '/vitalsigns' ? ' active' : '')">
                    <router-link to="/vitalsigns">
                        Vitals
                    </router-link>
                </li>

                <li :class="'tab col s4' + (path === '/waveforms' ? ' active' : '')">
                    <router-link to="/waveforms">
                        Waveforms
                    </router-link>
                </li>

            </ul>
        </div>
    </div>
</template>

<script src="./Tabs.js"></script>

<style scoped>
    @import './Tabs.css';
</style>
