<template>
    <div>
        <div class="row multi-select" v-if="waveforms.length">
            <div class="input-field col s12 m6">
                <select multiple
                        v-model="pageOptions"
                        @change.prevent="onWaveformInput">

                    <option value="" disabled selected>Choose waveforms</option>
                    <option v-for="(w, index) in waveforms"
                            :key="index"
                            :value="w.name">{{ w.name }}</option>
                </select>
                <label>Waveforms names</label>
            </div>

<!--            <div class="input-field col s12 m6">-->
<!--                <select v-model="duration">-->
<!--                    <option value="" disabled selected>Choose duration</option>-->
<!--                    <option value="1">1 min</option>-->
<!--                    <option value="5">5 min</option>-->
<!--                    <option value="15">15 min</option>-->
<!--                    <option value="30">30 min</option>-->
<!--                    <option value="60">1 hour</option>-->
<!--                    <option value="120">2 hour</option>-->
<!--                    <option value="300">5 hour</option>-->
<!--                    <option value="720">12 hour</option>-->
<!--                    <option value="1440">24 hour</option>-->
<!--                </select>-->
<!--                <label>Duration</label>-->
<!--            </div>-->
        </div>
        <div class="loader center-align" v-else>
            <Loader class="center-text"  />
        </div>

        <div v-for="(point, index) in points" :key="index">
            <LineChart :chartData="point.data" :title="point.title" :index="index" :key="`${point.title}-${index}`"/>
        </div>
    </div>
</template>

<script src="./Waveforms.js"></script>

<style scoped>
    @import './Waveforms.css';
</style>
