/* eslint-disable */
h1 {
    font-weight: 200;
}

h3 {
    font-weight: 100;
}

.multi-select {
    margin-top: 100px;
}

.patient-panel {
    background-color: #e3f2fd !important;
}

.search-panel {
    padding: 20px !important;
}

.date-time-panel {
    padding: 20px !important;
}

.datepicker-date-display {
    background-color: #2196f3;
}

input[type=range]::-webkit-slider-thumb {
    background-color: #2196f3;
}

input[type=range]::-moz-range-thumb {
    background-color: #2196f3;
}

input[type=range]::-ms-thumb {
    background-color: #2196f3;
}

input[type=range] + .thumb {
    background-color: #2196f3;
}
input[type=range] + .thumb.active .value {
    color: #fff;
}

/* label focus color */
.input-field input[type=text]:focus + label {
    color: #2196f3;
}
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #2196f3;
    box-shadow: 0 1px 0 0 #2196f3;
}


input[type=text]:focus + label {
    color: #2196f3 !important;
}

input[type=text]:focus {
    border-bottom: 1px solid #2196f3 !important;
    box-shadow: 0 1px 0 0 #2196f3 !important;
}

[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:after {
    background-color: #2196f3;
}

[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:before,
[type="radio"].with-gap:checked + span:after {
    border: 2px solid #2196f3;
}

tr {
    height: 10px !important;
}

#patient-form {
    height: 80vh !important;
    position: relative !important;
    overflow: auto !important;
}

#date-form {
    height: 50vh !important;
    position: relative !important;
    overflow: auto !important;
}

.select-wrapper {
    margin-top: 20px;
}
