<template>
    <div class="select-wrapper">
        <div class="row">
            <div class="col m2 s12 search-panel">
                <div class="row">
                    <SearchForm />
                </div>
            </div>

            <div class="col s12 m8 patient-panel">
                <div class="row" v-if="patients.length">
                    <div class="col s12 m6 form-container">
                        <h4>
                            Patients
                        </h4>

                        <form id="patient-form">
                            <p v-for="(patient, index) of filteredPatients" :key="index">
                                <label>
                                    <input name="patient"
                                           type="radio"
                                           :patient="JSON.stringify(patient)"
                                           @change="onPatientSelect"
                                           :checked="index < 1 ? 'checked' : null" />
                                    <span>
                                        {{ patient.name }} ({{ patient.id }})
                                    </span>
                                </label>
                            </p>
                        </form>
                    </div>

                    <div class="col m6">
                        <div class="row">
                            <h4>
                                Device
                            </h4>
                            <form id="device-form">
                                <p v-for="(device, index) of patient.devices" :key="index">
                                    <label>
                                        <input name="device"
                                               type="radio"
                                               :value="device"
                                               @change="deviceSelect"
                                               :checked="index < 1 ? 'checked' : null" />
                                        <span>
                                            {{ device.deviceID }}
                                        </span>
                                    </label>
                                </p>
                            </form>
                        </div>
                        <div class="row">
                            <h4>
                                Type
                            </h4>

                            <form id='type-form'>
                                <p v-for="(type, index) of stayInfo.types" :key="index">
                                    <label>
                                        <input name="type"
                                               type="radio"
                                               :typeName="type.name"
                                               @change.prevent="onTypeSelect"
                                               :checked="index < 1 ? 'checked' : null" />
                                        <span>
                                            {{ type.name }}
                                        </span>
                                    </label>
                                </p>
                            </form>
                        </div>
                        <div class="row">
                            <h4>
                                Date
                            </h4>

                            <form id='date-form'>
                                <p v-for="(date, index) of stayInfo.displayDates" :key="index">
                                    <label>
                                        <input name="dates"
                                               type="radio"
                                               :value="date"
                                               @change="patientDate"
                                               :checked="index < 1 ? 'checked' : null" />
                                        <span>
                                            {{ date }}
                                        </span>
                                    </label>
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col m2 s12 date-time-panel">
                <div class="row">

                    <h5>
                        Date Range
                    </h5>

                    <div id="date-range" v-if="stayInfo.range">
                        <p>
                            Min: {{ stayInfo.range.find(r => r.type === stayParams.type).min }}
                        </p>
                        <p>
                            Max: {{ stayInfo.range.find(r => r.type === stayParams.type).max }}
                        </p>
                    </div>

<!--                    <div class="input-field">-->
<!--                        <select :value="60"-->
<!--                                @change.prevent="onIntervalInput">-->
<!--                            <option value="60">1 hour</option>-->
<!--                            <option value="120">2 hours</option>-->
<!--                            <option value="240">4 hours</option>-->
<!--                            <option value="480">8 hours</option>-->
<!--                            <option value="960">16 hours</option>-->
<!--                            <option value="1440">24 hours</option>-->
<!--                        </select>-->
<!--                        <label>Inerval</label>-->
<!--                    </div>-->

                    <div class="input-field">
                        <input :value="stayParams.date ? stayParams.date : 'Date/Time'"
                               id="start"
                               type="text"
                               class="validate"
                               @change.prevent="onStartChange">
                        <label class="active" for="start">Start</label>
                    </div>
                </div>

                <div class="row">
                    <router-link id='load-btn' class="waves-effect waves-light btn blue hoverable" :to="'/vitalsigns'">
                        Load
                    </router-link>
                </div>
            </div>
        </div>
    </div>
</template>

<script src="./Select.js"></script>

<style scoped>
    @import './Select.css';
</style>
