<template>
    <div>
        <form class="col s12" @submit.prevent="onSearch">
            <h5>
                Search
            </h5>
            <div class="row">
                <div class="input-field">
                    <input id="last-name" type="text" class="validate" v-model="search.lastName">
                    <label for="last-name">
                        Last Name
                    </label>
                </div>

                <div class="input-field">
                    <input id="first-name" type="text" class="validate" v-model="search.firstName">
                    <label for="first-name">
                        First Name
                    </label>
                </div>

                <div class="input-field">
                    <input id="mrn" type="text" class="validate" v-model="search.mrn">
                    <label for="mrn">
                        MRN
                    </label>
                </div>

                <div class="input-field">
                    <input id="deviceId" type="text" class="validate" v-model="search.deviceId">
                    <label for="deviceId">
                        Device Id
                    </label>
                </div>

                <div class="input-field">
                    <input id="dob" type="text" class="datepicker" v-model="search.date">
                    <label for="dob">
                        Date of Birth
                    </label>
                </div>
            </div>

            <button type="submit" class="hide"></button>
        </form>

        <a class="waves-effect waves-light btn blue hoverable" @click.prevent="onSearch">Search</a>
    </div>
</template>

<script src="./SearchForm.js"></script>

<style scoped>
    @import './SearchForm.css';
</style>
