<template>
    <div class="container">
        <Tabs />
        <router-view />
    </div>
</template>

<script>
/* eslint-disable */
import Tabs from './components/Tabs/Tabs.vue'

import 'materialize-css/dist/css/materialize.css'

export default {
    name: 'App',

    components: {
        Tabs
    }
}
</script>

<style></style>
