<template>
    <div class="vitals-wrapper">
        <div :id="`chartContainer`" style="height: 50vh; width: 100%; margin-top: 10px;"></div>
    </div>
</template>

<script src="./PlotChart.js"></script>

<style scoped>
    @import './PlotChart.css';
</style>
