<template>
    <div>
        <!--    FORM AND INFO PANEL    -->
        <div class="row"  v-if="Object.keys(vitalsigns).length">
            <div class="col s6 m6">
                <div class="card blue lighten-5">
                    <div class="card-content">
                        <span class="card-title">Patient Info</span>
                        <p>Name: {{ patient.name }}</p>
                        <p>ID: {{ patient.id }}</p>
                        <p>Key: {{ patient.patientKey }}</p>
                        <h5>Stay</h5>
                        <p>Start: {{ stayParams.date }}</p>
                        <p>Interval: {{ stayParams.interval }}</p>
                        <p>Duration: {{ stayParams.duration }}</p>
                        <p>Type: {{ stayParams.type }}</p>
                        <h5>Device</h5>
                        <p>Name: {{ device.deviceID }}</p>
                        <p>Key: {{ device.deviceKey }}</p>
                    </div>
                </div>
            </div>

            <div class="col s6 m6">
                <div class="card blue lighten-5">
                    <div class="card-content">
                        <span class="card-title">Vitalsigns</span>
                        <div class="input-field">
                            <select multiple
                                    v-model="pageOptions"
                                    @change.prevent="onVitalsignInput">
                                <option value=""
                                        disabled
                                        selected>Choose vitalsign</option>

                                <option value="all">Select all</option>

                                <option v-for="({ title }, index) in vitalsigns"
                                        :key="index"
                                        :value="title"
                                        :selected="index < 2 ? 'selected' : ''">{{ title }}</option>
                            </select>
                            <label>Vitalsign names</label>
                        </div>

                        <div class="input-field">
                            <select v-model="pageInterval"
                                    @change.prevent="onIntervalInput">
                                <option value="" disabled selected>Choose interval</option>
                                <option value="1">1 min</option>
                                <option value="5">5 min</option>
                                <option value="15">15 min</option>
                                <option value="30">30 min</option>
                                <option value="60">1 hour</option>
                                <option value="120">2 hour</option>
                                <option value="300">5 hour</option>
                                <option value="720">12 hour</option>
                                <option value="1440">24 hour</option>
                            </select>
                            <label>Interval</label>
                        </div>

                        <div class="card-action">
                            <router-link id='load-btn' class="waves-effect waves-light btn blue hoverable" to="/waveforms">
                                Waveforms
                            </router-link>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="loader center-align" v-else>
            <Loader class="center-text"  />
        </div>

        <div  v-if="options.length">
            <div class="row">
                <div class="col s6">
                    <a class="btn-floating btn-medium waves-effect waves-light blue"><i class="material-icons" value="-" @click.prevent="changeTime">arrow_back</i></a>
                </div>
                <div class="col s6 right-align">
                    <a class="btn-floating btn-medium waves-effect waves-light blue right-align"><i class="material-icons" value="+" @click.prevent="changeTime">arrow_forward</i></a>
                </div>
            </div>
            <VitalsTable />
            <PlotChart :key="options.length && JSON.stringify(vitalsigns[0].dataPoints)" />
        </div>
    </div>
</template>

<script src="./Vitals.js"></script>

<style scoped>
    @import './Vitals.css';
</style>
