<template>
    <div class="row tbl">
        <table class="highlight">
            <thead>
            <tr>
                <th></th>
                <th v-for="time in times" :key="time.title">{{ time.title }}</th>
            </tr>
            </thead>

            <tbody>
            <tr v-for="(row, index) in tableData" :key="index">
                <td>{{ row.title }}</td>
                <td v-for="(data, i) in row.data" :key="i">{{ data }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script src="./VitalsTable.js"></script>

<style scoped>
    @import './VitalsTable.css';
</style>
